<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @professeur.nom %>
</p>

<p>
  <b>Prenom:</b>
  <%= @professeur.prenom %>
</p>

<p>
  <b>Email:</b>
  <%= @professeur.email %>
</p>


<%= link_to 'Edit', edit_professeur_path(@professeur) %> |
<%= link_to 'Back', professeurs_path %>
